/** Colors */
/** Main Color Scheme */
/** Other Color Scheme */
/** Color Functions */
/** Set text color based on background */
/** Set background and text color */
/** Font Size */
.f-0 {
  font-size: 0rem;
}

.f-1 {
  font-size: 1rem;
}

.f-2 {
  font-size: 2rem;
}

.f-3 {
  font-size: 3rem;
}

.f-4 {
  font-size: 4rem;
}

.f-5 {
  font-size: 5rem;
}

.f-6 {
  font-size: 6rem;
}

.f-7 {
  font-size: 7rem;
}

.f-8 {
  font-size: 8rem;
}

.f-9 {
  font-size: 9rem;
}

.f-10 {
  font-size: 10rem;
}

/** Margin & Padding */
/** Margin */
.m-0 {
  margin: 0rem;
}

.my-0 {
  margin: 0rem 0;
}

.mx-0 {
  margin: 0 0rem;
}

.mt-0 {
  margin: 0rem 0 0 0;
}

.mb-0 {
  margin: 0 0 0rem 0;
}

.ml-0 {
  margin: 0 0 0 0rem;
}

.mr-0 {
  margin: 0 0rem 0 0;
}

/** Padding */
.p-0 {
  padding: 0rem;
}

.py-0 {
  padding: 0rem 0;
}

.px-0 {
  padding: 0 0rem;
}

.pt-0 {
  padding: 0rem 0 0 0;
}

.pb-0 {
  padding: 0 0 0rem 0;
}

.pl-0 {
  padding: 0 0 0 0rem;
}

.pr-0 {
  padding: 0 0rem 0 0;
}

/** Margin */
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.ml-1 {
  margin: 0 0 0 1rem;
}

.mr-1 {
  margin: 0 1rem 0 0;
}

/** Padding */
.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.pl-1 {
  padding: 0 0 0 1rem;
}

.pr-1 {
  padding: 0 1rem 0 0;
}

/** Margin */
.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

/** Padding */
.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pl-2 {
  padding: 0 0 0 2rem;
}

.pr-2 {
  padding: 0 2rem 0 0;
}

/** Margin */
.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

/** Padding */
.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.pl-3 {
  padding: 0 0 0 3rem;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

/** Margin */
.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

/** Padding */
.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.pl-4 {
  padding: 0 0 0 4rem;
}

.pr-4 {
  padding: 0 4rem 0 0;
}

/** Margin */
.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

/** Padding */
.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.pl-5 {
  padding: 0 0 0 5rem;
}

.pr-5 {
  padding: 0 5rem 0 0;
}

/** Margin */
.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.mt-6 {
  margin: 6rem 0 0 0;
}

.mb-6 {
  margin: 0 0 6rem 0;
}

.ml-6 {
  margin: 0 0 0 6rem;
}

.mr-6 {
  margin: 0 6rem 0 0;
}

/** Padding */
.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.pt-6 {
  padding: 6rem 0 0 0;
}

.pb-6 {
  padding: 0 0 6rem 0;
}

.pl-6 {
  padding: 0 0 0 6rem;
}

.pr-6 {
  padding: 0 6rem 0 0;
}

/** Margin */
.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.mt-7 {
  margin: 7rem 0 0 0;
}

.mb-7 {
  margin: 0 0 7rem 0;
}

.ml-7 {
  margin: 0 0 0 7rem;
}

.mr-7 {
  margin: 0 7rem 0 0;
}

/** Padding */
.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.pt-7 {
  padding: 7rem 0 0 0;
}

.pb-7 {
  padding: 0 0 7rem 0;
}

.pl-7 {
  padding: 0 0 0 7rem;
}

.pr-7 {
  padding: 0 7rem 0 0;
}

/** Margin */
.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.mt-8 {
  margin: 8rem 0 0 0;
}

.mb-8 {
  margin: 0 0 8rem 0;
}

.ml-8 {
  margin: 0 0 0 8rem;
}

.mr-8 {
  margin: 0 8rem 0 0;
}

/** Padding */
.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.pt-8 {
  padding: 8rem 0 0 0;
}

.pb-8 {
  padding: 0 0 8rem 0;
}

.pl-8 {
  padding: 0 0 0 8rem;
}

.pr-8 {
  padding: 0 8rem 0 0;
}

/** Margin */
.m-9 {
  margin: 9rem;
}

.my-9 {
  margin: 9rem 0;
}

.mx-9 {
  margin: 0 9rem;
}

.mt-9 {
  margin: 9rem 0 0 0;
}

.mb-9 {
  margin: 0 0 9rem 0;
}

.ml-9 {
  margin: 0 0 0 9rem;
}

.mr-9 {
  margin: 0 9rem 0 0;
}

/** Padding */
.p-9 {
  padding: 9rem;
}

.py-9 {
  padding: 9rem 0;
}

.px-9 {
  padding: 0 9rem;
}

.pt-9 {
  padding: 9rem 0 0 0;
}

.pb-9 {
  padding: 0 0 9rem 0;
}

.pl-9 {
  padding: 0 0 0 9rem;
}

.pr-9 {
  padding: 0 9rem 0 0;
}

/** Margin */
.m-10 {
  margin: 10rem;
}

.my-10 {
  margin: 10rem 0;
}

.mx-10 {
  margin: 0 10rem;
}

.mt-10 {
  margin: 10rem 0 0 0;
}

.mb-10 {
  margin: 0 0 10rem 0;
}

.ml-10 {
  margin: 0 0 0 10rem;
}

.mr-10 {
  margin: 0 10rem 0 0;
}

/** Padding */
.p-10 {
  padding: 10rem;
}

.py-10 {
  padding: 10rem 0;
}

.px-10 {
  padding: 0 10rem;
}

.pt-10 {
  padding: 10rem 0 0 0;
}

.pb-10 {
  padding: 0 0 10rem 0;
}

.pl-10 {
  padding: 0 0 0 10rem;
}

.pr-10 {
  padding: 0 10rem 0 0;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

/* 0.5rem margin*/
.m-half {
  margin: 0.5rem;
}

.my-half {
  margin: 0.5rem 0;
}

.mx-half {
  margin: 0 0.5rem;
}

.mt-half {
  margin: 0.5rem 0 0 0;
}

.mb-half {
  margin: 0 0 0.5rem 0;
}

.ml-half {
  margin: 0 0 0 0.5rem;
}

.mr-half {
  margin: 0 0.5rem 0 0;
}

/* 0.2rem margin*/
.m-qter {
  margin: 0.2rem;
}

.my-qter {
  margin: 0.2rem 0;
}

.mx-qter {
  margin: 0 0.2rem;
}

.mt-qter {
  margin: 0.2rem 0 0 0;
}

.mb-qter {
  margin: 0 0 0.2rem 0;
}

.ml-qter {
  margin: 0 0 0 0.2rem;
}

.mr-qter {
  margin: 0 0.2rem 0 0;
}

.p-auto {
  padding: auto;
}

.py-auto {
  padding: auto 0;
}

.px-auto {
  padding: 0 auto;
}

/* 0.5rem padding*/
.p-half {
  padding: 0.5rem;
}

.py-half {
  padding: 0.5rem 0;
}

.px-half {
  padding: 0 0.5rem;
}

.pt-half {
  padding: 0.5rem 0 0 0;
}

.pb-half {
  padding: 0 0 0.5rem 0;
}

.pl-half {
  padding: 0 0 0 0.5rem;
}

.pr-half {
  padding: 0 0.5rem 0 0;
}

/* 0.2rem padding*/
.p-qter {
  padding: 0.2rem;
}

.py-qter {
  padding: 0.2rem 0;
}

.px-qter {
  padding: 0 0.2rem;
}

.pt-qter {
  padding: 0.2rem 0 0 0;
}

.pb-qter {
  padding: 0 0 0.2rem 0;
}

.pl-qter {
  padding: 0 0 0 0.2rem;
}

.pr-qter {
  padding: 0 0.2rem 0 0;
}

/** Max width */
/** Colors */
/** Main Color Scheme */
/** Other Color Scheme */
/** Color Functions */
/** Set text color based on background */
/** Set background and text color */
/** Font Size */
.f-0 {
  font-size: 0rem;
}

.f-1 {
  font-size: 1rem;
}

.f-2 {
  font-size: 2rem;
}

.f-3 {
  font-size: 3rem;
}

.f-4 {
  font-size: 4rem;
}

.f-5 {
  font-size: 5rem;
}

.f-6 {
  font-size: 6rem;
}

.f-7 {
  font-size: 7rem;
}

.f-8 {
  font-size: 8rem;
}

.f-9 {
  font-size: 9rem;
}

.f-10 {
  font-size: 10rem;
}

/** Margin & Padding */
/** Margin */
.m-0 {
  margin: 0rem;
}

.my-0 {
  margin: 0rem 0;
}

.mx-0 {
  margin: 0 0rem;
}

.mt-0 {
  margin: 0rem 0 0 0;
}

.mb-0 {
  margin: 0 0 0rem 0;
}

.ml-0 {
  margin: 0 0 0 0rem;
}

.mr-0 {
  margin: 0 0rem 0 0;
}

/** Padding */
.p-0 {
  padding: 0rem;
}

.py-0 {
  padding: 0rem 0;
}

.px-0 {
  padding: 0 0rem;
}

.pt-0 {
  padding: 0rem 0 0 0;
}

.pb-0 {
  padding: 0 0 0rem 0;
}

.pl-0 {
  padding: 0 0 0 0rem;
}

.pr-0 {
  padding: 0 0rem 0 0;
}

/** Margin */
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.ml-1 {
  margin: 0 0 0 1rem;
}

.mr-1 {
  margin: 0 1rem 0 0;
}

/** Padding */
.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.pl-1 {
  padding: 0 0 0 1rem;
}

.pr-1 {
  padding: 0 1rem 0 0;
}

/** Margin */
.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

/** Padding */
.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pl-2 {
  padding: 0 0 0 2rem;
}

.pr-2 {
  padding: 0 2rem 0 0;
}

/** Margin */
.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

/** Padding */
.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.pl-3 {
  padding: 0 0 0 3rem;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

/** Margin */
.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

/** Padding */
.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.pl-4 {
  padding: 0 0 0 4rem;
}

.pr-4 {
  padding: 0 4rem 0 0;
}

/** Margin */
.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

/** Padding */
.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.pl-5 {
  padding: 0 0 0 5rem;
}

.pr-5 {
  padding: 0 5rem 0 0;
}

/** Margin */
.m-6 {
  margin: 6rem;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.mt-6 {
  margin: 6rem 0 0 0;
}

.mb-6 {
  margin: 0 0 6rem 0;
}

.ml-6 {
  margin: 0 0 0 6rem;
}

.mr-6 {
  margin: 0 6rem 0 0;
}

/** Padding */
.p-6 {
  padding: 6rem;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.pt-6 {
  padding: 6rem 0 0 0;
}

.pb-6 {
  padding: 0 0 6rem 0;
}

.pl-6 {
  padding: 0 0 0 6rem;
}

.pr-6 {
  padding: 0 6rem 0 0;
}

/** Margin */
.m-7 {
  margin: 7rem;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.mt-7 {
  margin: 7rem 0 0 0;
}

.mb-7 {
  margin: 0 0 7rem 0;
}

.ml-7 {
  margin: 0 0 0 7rem;
}

.mr-7 {
  margin: 0 7rem 0 0;
}

/** Padding */
.p-7 {
  padding: 7rem;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.pt-7 {
  padding: 7rem 0 0 0;
}

.pb-7 {
  padding: 0 0 7rem 0;
}

.pl-7 {
  padding: 0 0 0 7rem;
}

.pr-7 {
  padding: 0 7rem 0 0;
}

/** Margin */
.m-8 {
  margin: 8rem;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.mt-8 {
  margin: 8rem 0 0 0;
}

.mb-8 {
  margin: 0 0 8rem 0;
}

.ml-8 {
  margin: 0 0 0 8rem;
}

.mr-8 {
  margin: 0 8rem 0 0;
}

/** Padding */
.p-8 {
  padding: 8rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.pt-8 {
  padding: 8rem 0 0 0;
}

.pb-8 {
  padding: 0 0 8rem 0;
}

.pl-8 {
  padding: 0 0 0 8rem;
}

.pr-8 {
  padding: 0 8rem 0 0;
}

/** Margin */
.m-9 {
  margin: 9rem;
}

.my-9 {
  margin: 9rem 0;
}

.mx-9 {
  margin: 0 9rem;
}

.mt-9 {
  margin: 9rem 0 0 0;
}

.mb-9 {
  margin: 0 0 9rem 0;
}

.ml-9 {
  margin: 0 0 0 9rem;
}

.mr-9 {
  margin: 0 9rem 0 0;
}

/** Padding */
.p-9 {
  padding: 9rem;
}

.py-9 {
  padding: 9rem 0;
}

.px-9 {
  padding: 0 9rem;
}

.pt-9 {
  padding: 9rem 0 0 0;
}

.pb-9 {
  padding: 0 0 9rem 0;
}

.pl-9 {
  padding: 0 0 0 9rem;
}

.pr-9 {
  padding: 0 9rem 0 0;
}

/** Margin */
.m-10 {
  margin: 10rem;
}

.my-10 {
  margin: 10rem 0;
}

.mx-10 {
  margin: 0 10rem;
}

.mt-10 {
  margin: 10rem 0 0 0;
}

.mb-10 {
  margin: 0 0 10rem 0;
}

.ml-10 {
  margin: 0 0 0 10rem;
}

.mr-10 {
  margin: 0 10rem 0 0;
}

/** Padding */
.p-10 {
  padding: 10rem;
}

.py-10 {
  padding: 10rem 0;
}

.px-10 {
  padding: 0 10rem;
}

.pt-10 {
  padding: 10rem 0 0 0;
}

.pb-10 {
  padding: 0 0 10rem 0;
}

.pl-10 {
  padding: 0 0 0 10rem;
}

.pr-10 {
  padding: 0 10rem 0 0;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

/* 0.5rem margin*/
.m-half {
  margin: 0.5rem;
}

.my-half {
  margin: 0.5rem 0;
}

.mx-half {
  margin: 0 0.5rem;
}

.mt-half {
  margin: 0.5rem 0 0 0;
}

.mb-half {
  margin: 0 0 0.5rem 0;
}

.ml-half {
  margin: 0 0 0 0.5rem;
}

.mr-half {
  margin: 0 0.5rem 0 0;
}

/* 0.2rem margin*/
.m-qter {
  margin: 0.2rem;
}

.my-qter {
  margin: 0.2rem 0;
}

.mx-qter {
  margin: 0 0.2rem;
}

.mt-qter {
  margin: 0.2rem 0 0 0;
}

.mb-qter {
  margin: 0 0 0.2rem 0;
}

.ml-qter {
  margin: 0 0 0 0.2rem;
}

.mr-qter {
  margin: 0 0.2rem 0 0;
}

.p-auto {
  padding: auto;
}

.py-auto {
  padding: auto 0;
}

.px-auto {
  padding: 0 auto;
}

/* 0.5rem padding*/
.p-half {
  padding: 0.5rem;
}

.py-half {
  padding: 0.5rem 0;
}

.px-half {
  padding: 0 0.5rem;
}

.pt-half {
  padding: 0.5rem 0 0 0;
}

.pb-half {
  padding: 0 0 0.5rem 0;
}

.pl-half {
  padding: 0 0 0 0.5rem;
}

.pr-half {
  padding: 0 0.5rem 0 0;
}

/* 0.2rem padding*/
.p-qter {
  padding: 0.2rem;
}

.py-qter {
  padding: 0.2rem 0;
}

.px-qter {
  padding: 0 0.2rem;
}

.pt-qter {
  padding: 0.2rem 0 0 0;
}

.pb-qter {
  padding: 0 0 0.2rem 0;
}

.pl-qter {
  padding: 0 0 0 0.2rem;
}

.pr-qter {
  padding: 0 0.2rem 0 0;
}

/** Max width */
@keyframes text-flicker {
  2% {
    color: #28a745;
  }
  8% {
    color: #28a745;
  }
  9% {
    color: #28a745;
  }
  12% {
    color: #28a745;
  }
  20% {
    color: #28a745;
  }
  25% {
    color: #28a745;
  }
  30% {
    color: #28a745;
  }
}
/** Flicking */
.flick {
  animation: text-flicker 0.9s linear infinite;
}

/** Backgrounds */
.bg-primary {
  background-color: #28a745;
  color: #fff;
}
.bg-light {
  background-color: #26be00;
  color: #fff;
}
.bg-dark {
  background-color: #23923d;
  color: #fff;
}
.bg-caution {
  background-color: #c7ca1f;
  color: #fff;
}
.bg-caution-dark {
  background-color: #a1a319;
  color: #fff;
}
.bg-caution-light {
  background-color: #e1e423;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-danger-dark {
  background-color: #b92d3b;
  color: #fff;
}
.bg-danger-light {
  background-color: #ee394b;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-success-dark {
  background-color: #1f8537;
  color: #fff;
}
.bg-success-light {
  background-color: #32ce56;
  color: #fff;
}
.bg-white {
  background-color: whitesmoke;
  color: #333;
}
.bg-white-dark {
  background-color: #dfdfdf;
  color: #333;
}
.bg-white-light {
  background-color: white;
  color: #333;
}
.bg-facebook {
  background-color: #3b5998;
  color: #fff;
}
.bg-email {
  background-color: orange;
  color: #fff;
}
.bg-instagram {
  background-color: #3f729b;
  color: #fff;
}
.bg-linkedin {
  background-color: #0077b5;
  color: #fff;
}
.bg-phone {
  background-color: #25d366;
  color: #fff;
}
.bg-twitter {
  background-color: #38a1f3;
  color: #fff;
}
.bg-youtube {
  background-color: #c4302b;
  color: #fff;
}

/** Borders */
.border-primary {
  border: solid 2px #28a745;
}
.border-dark {
  border: solid 2px #23923d;
}
.border-light {
  border: solid 2px #26be00;
}
.border-caution {
  border: solid 2px #c7ca1f;
}
.border-caution-dark {
  border: solid 2px #a1a319;
}
.border-caution-light {
  border: solid 2px #e1e423;
}
.border-danger {
  border: solid 2px #dc3545;
}
.border-danger-dark {
  border: solid 2px #b92d3b;
}
.border-danger-light {
  border: solid 2px #ee394b;
}
.border-success {
  border: solid 2px #28a745;
}
.border-success-dark {
  border: solid 2px #1f8537;
}
.border-success-light {
  border: solid 2px #32ce56;
}
.border-white {
  border: solid 2px whitesmoke;
}
.border-white-dark {
  border: solid 2px #dfdfdf;
}
.border-white-light {
  border: solid 2px white;
}
.border-facebook {
  border: solid 2px #3b5998;
}
.border-email {
  border: solid 2px orange;
}
.border-instagram {
  border: solid 2px #3f729b;
}
.border-linkedin {
  border: solid 2px #0077b5;
}
.border-phone {
  border: solid 2px #25d366;
}
.border-twitter {
  border: solid 2px #38a1f3;
}
.border-youtube {
  border: solid 2px #c4302b;
}

/** Color */
.color-primary {
  color: #28a745;
}
.color-dark {
  color: #23923d;
}
.color-light {
  color: #26be00;
}
.color-caution {
  color: #c7ca1f;
}
.color-caution-dark {
  color: #a1a319;
}
.color-caution-light {
  color: #e1e423;
}
.color-danger {
  color: #dc3545;
}
.color-danger-dark {
  color: #b92d3b;
}
.color-danger-light {
  color: #ee394b;
}
.color-success {
  color: #28a745;
}
.color-success-dark {
  color: #1f8537;
}
.color-success-light {
  color: #32ce56;
}
.color-white {
  color: whitesmoke;
}
.color-white-dark {
  color: #dfdfdf;
}
.color-white-light {
  color: white;
}
.color-facebook {
  color: #3b5998;
}
.color-email {
  color: orange;
}
.color-instagram {
  color: #3f729b;
}
.color-linkedin {
  color: #0077b5;
}
.color-phone {
  color: #25d366;
}
.color-twitter {
  color: #38a1f3;
}
.color-youtube {
  color: #c4302b;
}

/** Buttons */
.btn {
  display: inline-block;
  color: #333;
  padding: 0.3rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  border: solid 2px #28a745;
  background-color: #28a745;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #2dbc4e;
}
.btn.btn-reverse {
  border: solid 2px #28a745;
  background-color: whitesmoke;
  color: #28a745;
}
.btn.btn-reverse:hover {
  background: white;
}
.btn.btn-dark {
  border: solid 2px #23923d;
  background-color: #23923d;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #28a746;
}
.btn.btn-light {
  border: solid 2px #26be00;
  background-color: #26be00;
  color: #fff;
}
.btn.btn-light:hover {
  background: #2bd800;
}
.btn.btn-caution {
  border: solid 2px #c7ca1f;
  background-color: #c7ca1f;
  color: #fff;
}
.btn.btn-caution:hover {
  background: #dade25;
}
.btn.btn-caution-dark {
  border: solid 2px #a1a319;
  background-color: #a1a319;
  color: #fff;
}
.btn.btn-caution-dark:hover {
  background: #b7b91c;
}
.btn.btn-caution-light {
  border: solid 2px #e1e423;
  background-color: #e1e423;
  color: #fff;
}
.btn.btn-caution-light:hover {
  background: #e4e73a;
}
.btn.btn-danger {
  border: solid 2px #dc3545;
  background-color: #dc3545;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #e04b59;
}
.btn.btn-danger-dark {
  border: solid 2px #b92d3b;
  background-color: #b92d3b;
  color: #fff;
}
.btn.btn-danger-dark:hover {
  background: #cd3242;
}
.btn.btn-danger-light {
  border: solid 2px #ee394b;
  background-color: #ee394b;
  color: #fff;
}
.btn.btn-danger-light:hover {
  background: #f05060;
}
.btn.btn-gray {
  border: solid 2px silver;
  background-color: silver;
  color: #333;
}
.btn.btn-gray:hover {
  cursor: auto;
}
.btn.btn-success {
  border: solid 2px #28a745;
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-success-dark {
  border: solid 2px #1f8537;
  background-color: #1f8537;
  color: #fff;
}
.btn.btn-success-dark:hover {
  background: #249a40;
}
.btn.btn-success-light {
  border: solid 2px #32ce56;
  background-color: #32ce56;
  color: #fff;
}
.btn.btn-success-light:hover {
  background: #47d367;
}
.btn.btn-white {
  border: solid 2px whitesmoke;
  background-color: whitesmoke;
  color: #333;
}
.btn.btn-white:hover {
  background: white;
}
.btn.btn-white-dark {
  border: solid 2px #dfdfdf;
  background-color: #dfdfdf;
  color: #333;
}
.btn.btn-white-dark:hover {
  background: #ececec;
}
.btn.btn-white-light {
  border: solid 2px white;
  background-color: white;
  color: #333;
}
.btn.btn-white-light:hover {
  background: white;
}
.btn.btn-facebook {
  border: solid 2px #3b5998;
  background-color: #3b5998;
  color: #fff;
}
.btn.btn-facebook:hover {
  background: #4264aa;
}
.btn.btn-email {
  border: solid 2px orange;
  background-color: orange;
  color: #fff;
}
.btn.btn-email:hover {
  background: #ffae1a;
}
.btn.btn-instagram {
  border: solid 2px #3f729b;
  background-color: #3f729b;
  color: #fff;
}
.btn.btn-instagram:hover {
  background: #467fad;
}
.btn.btn-linkedin {
  border: solid 2px #0077b5;
  background-color: #0077b5;
  color: #fff;
}
.btn.btn-linkedin:hover {
  background: #0088cf;
}
.btn.btn-phone {
  border: solid 2px #25d366;
  background-color: #25d366;
  color: #fff;
}
.btn.btn-phone:hover {
  background: #36dc74;
}
.btn.btn-twitter {
  border: solid 2px #38a1f3;
  background-color: #38a1f3;
  color: #fff;
}
.btn.btn-twitter:hover {
  background: #50acf4;
}
.btn.btn-youtube {
  border: solid 2px #c4302b;
  background-color: #c4302b;
  color: #fff;
}
.btn.btn-youtube:hover {
  background: #d33b36;
}
.btn:active {
  padding: 0.3rem 0.9rem;
  border: solid 2px white;
}

/** Buttons icon only */
.btn-icon {
  display: inline-block;
  color: #333;
  padding: 0.4rem 0.4rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn-icon.btn-primary {
  background-color: #28a745;
  color: #fff;
}
.btn-icon.btn-primary:hover {
  background: #2dbc4e;
}
.btn-icon.btn-dark {
  background-color: #23923d;
  color: #fff;
}
.btn-icon.btn-dark:hover {
  background: #28a746;
}
.btn-icon.btn-light {
  background-color: #26be00;
  color: #fff;
}
.btn-icon.btn-light:hover {
  background: #2bd800;
}
.btn-icon.btn-caution {
  background-color: #c7ca1f;
  color: #fff;
}
.btn-icon.btn-caution:hover {
  background: #dade25;
}
.btn-icon.btn-caution-dark {
  background-color: #a1a319;
  color: #fff;
}
.btn-icon.btn-caution-dark:hover {
  background: #b7b91c;
}
.btn-icon.btn-caution-light {
  background-color: #e1e423;
  color: #fff;
}
.btn-icon.btn-caution-light:hover {
  background: #e4e73a;
}
.btn-icon.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn-icon.btn-danger:hover {
  background: #e04b59;
}
.btn-icon.btn-danger-dark {
  background-color: #b92d3b;
  color: #fff;
}
.btn-icon.btn-danger-dark:hover {
  background: #cd3242;
}
.btn-icon.btn-danger-light {
  background-color: #ee394b;
  color: #fff;
}
.btn-icon.btn-danger-light:hover {
  background: #f05060;
}
.btn-icon.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn-icon.btn-success:hover {
  background: #2dbc4e;
}
.btn-icon.btn-success-dark {
  background-color: #1f8537;
  color: #fff;
}
.btn-icon.btn-success-dark:hover {
  background: #249a40;
}
.btn-icon.btn-success-light {
  background-color: #32ce56;
  color: #fff;
}
.btn-icon.btn-success-light:hover {
  background: #47d367;
}
.btn-icon.btn-white {
  background-color: whitesmoke;
  color: #333;
}
.btn-icon.btn-white:hover {
  background: white;
}
.btn-icon.btn-white-dark {
  background-color: #dfdfdf;
  color: #333;
}
.btn-icon.btn-white-dark:hover {
  background: #ececec;
}
.btn-icon.btn-white-light {
  background-color: white;
  color: #333;
}
.btn-icon.btn-white-light:hover {
  background: white;
}
.btn-icon.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}
.btn-icon.btn-facebook:hover {
  background: #4264aa;
}
.btn-icon.btn-email {
  background-color: orange;
  color: #fff;
}
.btn-icon.btn-email:hover {
  background: #ffae1a;
}
.btn-icon.btn-instagram {
  background-color: #3f729b;
  color: #fff;
}
.btn-icon.btn-instagram:hover {
  background: #467fad;
}
.btn-icon.btn-linkedin {
  background-color: #0077b5;
  color: #fff;
}
.btn-icon.btn-linkedin:hover {
  background: #0088cf;
}
.btn-icon.btn-phone {
  background-color: #25d366;
  color: #fff;
}
.btn-icon.btn-phone:hover {
  background: #36dc74;
}
.btn-icon.btn-twitter {
  background-color: #38a1f3;
  color: #fff;
}
.btn-icon.btn-twitter:hover {
  background: #50acf4;
}
.btn-icon.btn-youtube {
  background-color: #c4302b;
  color: #fff;
}
.btn-icon.btn-youtube:hover {
  background: #d33b36;
}
.btn-icon:active {
  padding: 0.3rem 0.9rem;
}

/** Container */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/** Display */
/** Align self */
.self-center {
  align-self: center;
}

.self-left {
  align-self: left;
}

.self-right {
  align-self: right;
}

/** Align items*/
.align-items-center {
  align-items: center;
}

.align-items-left {
  align-items: left;
}

.align-items-right {
  align-items: right;
}

/** Justify items*/
.just-items-center {
  justify-content: center;
}

.just-items-left {
  justify-content: left;
}

.just-items-right {
  justify-content: right;
}

.just-items-between {
  justify-content: space-between;
}

/*****************************************************************************************************
* Display
*****************************************************************************************************/
/** Hide or Show Elements */
.hide {
  display: none;
}

.hide-sm {
  display: unset;
}

.show-sm {
  display: none;
}

.show-landscape {
  display: none;
}

.hide-landscape {
  display: inline;
}

.show-portrait {
  display: none;
}

.hide-portrait {
  display: inline;
}

/*****************************************************************************************************
* Display Mobile
*****************************************************************************************************/
@media (max-width: 700px) {
  /** Hide or Show Elements */
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: unset;
  }
}
@media (max-width: 700px) and (max-width: 45rem) {
  .show-landscape {
    display: inline;
  }
}
@media (max-width: 700px) and (max-width: 22.5rem) {
  .show-landscape {
    display: none;
  }
}
@media (max-width: 700px) and (max-width: 45rem) {
  .hide-landscape {
    display: none;
  }
}
@media (max-width: 700px) and (max-width: 22.5rem) {
  .hide-landscape {
    display: inline;
  }
}
@media (max-width: 700px) and (max-width: 45rem) {
  .show-portrait {
    display: none;
  }
}
@media (max-width: 700px) and (max-width: 22.5rem) {
  .show-portrait {
    display: inline;
  }
}
@media (max-width: 700px) and (max-width: 45rem) {
  .hide-portrait {
    display: inline;
  }
}
@media (max-width: 700px) and (max-width: 22.5rem) {
  .hide-portrait {
    display: none;
  }
}
/** FlexGrid */
/* Row */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* Responsive */
  /* Column */
}
.grid.dir-rev {
  flex-direction: row-reverse;
}
.grid .box {
  text-align: center;
  padding: 1rem;
  margin: 0.1rem;
}
.grid .col {
  width: 100%;
}
.grid .col-1 {
  width: 8.33%;
}
.grid .col-2 {
  width: 16.66%;
}
.grid .col-3 {
  width: 25%;
}
.grid .col-4 {
  width: 33.33%;
}
.grid .col-5 {
  width: 41.66%;
}
.grid .col-6 {
  width: 50%;
}
.grid .col-7 {
  width: 58.33%;
}
.grid .col-8 {
  width: 66.66%;
}
.grid .col-9 {
  width: 75%;
}
.grid .col-10 {
  width: 83.33%;
}
.grid .col-11 {
  width: 91.66%;
}
.grid .col-12 {
  width: 100%;
}
.grid .col-12.lg-1 {
  width: 8.33%;
}
.grid .col-12.lg-2 {
  width: 16.66%;
}
.grid .col-12.lg-3 {
  width: 25%;
}
.grid .col-12.lg-4 {
  width: 33.33%;
}
.grid .col-12.lg-5 {
  width: 41.66%;
}
.grid .col-12.lg-6 {
  width: 50%;
}
.grid .col-12.lg-7 {
  width: 58.33%;
}
.grid .col-12.lg-8 {
  width: 66.66%;
}
.grid .col-12.lg-9 {
  width: 75%;
}
.grid .col-12.lg-10 {
  width: 83.33%;
}
.grid .col-12.lg-11 {
  width: 91.66%;
}
.grid .col-12.lg-12 {
  width: 100%;
}
.grid.dir-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid.dir-col .col {
  text-align: center;
  max-width: 10rem;
}
.grid.dir-col-rev {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.grid.dir-col-rev .col {
  text-align: center;
  max-width: 10rem;
}

/************************************************************************************************************
Hover 
************************************************************************************************************/
.hover-point:hover {
  cursor: pointer;
}

/************************************************************************************************************
Icons 
************************************************************************************************************/
.social-buttons {
  margin-top: 0.2rem;
}
.social-buttons a {
  margin: 0 0.2rem 0 0.2rem;
}
.social-buttons i {
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0 0.2rem 0 0.2rem;
}
.social-buttons i:last-child {
  margin: 0;
}
.social-buttons i:hover {
  cursor: pointer;
}
.social-buttons i.fa-twitter {
  background-color: #38a1f3;
}
.social-buttons i.fa-twitter.dark {
  background-color: silver;
}
.social-buttons i.fa-twitter:hover {
  background: #68b8f6;
}
.social-buttons i.fa-facebook {
  background-color: #3b5998;
}
.social-buttons i.fa-facebook.dark {
  background-color: silver;
}
.social-buttons i.fa-facebook:hover {
  background: #4c70ba;
}
.social-buttons i.fa-envelope {
  background-color: orange;
}
.social-buttons i.fa-envelope.dark {
  background-color: silver;
}
.social-buttons i.fa-envelope:hover {
  background: #ffb733;
}
.social-buttons i.fa-instagram {
  background-color: #3f729b;
}
.social-buttons i.fa-instagram.dark {
  background-color: silver;
}
.social-buttons i.fa-instagram:hover {
  background: #548cb9;
}
.social-buttons i.fa-youtube {
  background-color: #c4302b;
}
.social-buttons i.fa-youtube.dark {
  background-color: silver;
}
.social-buttons i.fa-youtube:hover {
  background: #d74f4b;
}
.social-buttons i.fa-linkedin-in {
  background-color: #0077b5;
}
.social-buttons i.fa-linkedin-in.dark {
  background-color: silver;
}
.social-buttons i.fa-linkedin-in:hover {
  background: #0099e8;
}
.social-buttons i.fa-amazon {
  background-color: gold;
}
.social-buttons i.fa-amazon.dark {
  background-color: silver;
}
.social-buttons i.fa-amazon:hover {
  background: #ffe34d;
}

/*************************************************************************************************************
Images 
*************************************************************************************************************/
/** Carousel IMG */
.carousel-img {
  max-height: 20rem;
  max-width: 20rem;
  object-fit: cover;
  margin-top: 0.5rem;
}

.img-carousel-cont {
  max-width: 30rem;
}

/** Containers */
.img-cont-xs {
  width: 7rem;
  text-align: center;
  position: relative;
}

.info-img {
  max-height: 20rem;
  max-width: 20rem;
  object-fit: cover;
}

/** Jumbo */
.jumbo-container {
  background-color: black;
  max-height: 25rem;
  min-height: 25rem;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbo-container .inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
  color: white;
  text-align: center;
}
.jumbo-container .inner img {
  max-height: 7rem;
  max-width: 7rem;
  object-fit: cover;
}
.jumbo-container .inner .text-container {
  position: relative;
}
.jumbo-container .inner .text-container i {
  font-size: 1rem;
  position: absolute;
  border-radius: 50%;
  right: -2rem;
  bottom: 0;
  padding: 0.5rem;
  color: #28a745;
  border: solid #28a745 1px;
  background-color: whitesmoke;
}
.jumbo-container .inner .text-container i:hover {
  cursor: pointer;
  color: #23923d;
}
.jumbo-container .inner h1 {
  font-size: 2.5rem;
}
.jumbo-container .inner p {
  font-size: 1.1rem;
  max-width: 25rem;
}
.jumbo-container .jumbo-showcase {
  max-height: 25rem;
  min-width: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.jumbo-container .logo-showcase {
  max-height: 7rem;
  max-width: 7rem;
  position: relative;
}
.jumbo-container .logo-showcase i {
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  color: #28a745;
  border: solid #28a745 1px;
  background-color: whitesmoke;
}
.jumbo-container .logo-showcase i:hover {
  cursor: pointer;
  color: #23923d;
}
.jumbo-container .edit-button {
  position: absolute;
  right: 1rem;
  bottom: 3rem;
}
.jumbo-container .edit-button i {
  font-size: 1rem;
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  color: #28a745;
  border: solid #28a745 1px;
  background-color: whitesmoke;
}
.jumbo-container .edit-button i:hover {
  cursor: pointer;
  color: #23923d;
}

.small-icon {
  max-height: 2rem;
  max-width: 2rem;
  object-fit: cover;
}

/** Make image round */
.round-img {
  border-radius: 50%;
}

/** Overlay */
.img-overlay {
  max-width: 100%;
  max-height: 100%;
  display: block;
  opacity: 0.8;
}

/** Dark Opacity for img */
.opacity {
  opacity: 0.7;
  background-color: black;
}

/** Lines */
.line {
  height: 1px;
  background: #dfdfdf;
  margin: 1.5rem 0;
}

/** Page example */
.page-example {
  max-height: 20rem;
  max-width: 20rem;
  object-fit: cover;
}

.page-example:hover {
  cursor: pointer;
}

/** Page example Small*/
.page-example-sm {
  max-height: 10rem;
  max-width: 10rem;
  object-fit: cover;
}

.page-example-xs {
  max-height: 5rem;
  max-width: 5rem;
  object-fit: cover;
}

/** Positioning */
.relative {
  position: relative;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

/************************************************************************************************************
 Text Styles 
 ************************************************************************************************************/
.text-break {
  word-break: break-all;
}

/** Aligment */
.text-center {
  text-align: center;
}

/** Color */
.text-primary {
  color: #28a745;
}
.text-dark {
  color: #23923d;
}
.text-light {
  color: #26be00;
}
.text-caution {
  color: #c7ca1f;
}
.text-caution-dark {
  color: #a1a319;
}
.text-caution-light {
  color: #e1e423;
}
.text-danger {
  color: #dc3545;
}
.text-danger-dark {
  color: #b92d3b;
}
.text-danger-light {
  color: #ee394b;
}
.text-success {
  color: #28a745;
}
.text-success-dark {
  color: #1f8537;
}
.text-success-light {
  color: #32ce56;
}
.text-white {
  color: whitesmoke;
}
.text-white-dark {
  color: #dfdfdf;
}
.text-white-light {
  color: white;
}

/** Size */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
}

.lead {
  font-size: 1.5rem;
}

/** Weight */
.bold {
  font-weight: bold;
}

/** Main Config */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333;
  scrollbar-width: thin;
  scrollbar-color: #28a745 whitesmoke;
  height: 100%;
}
html #__next,
body #__next {
  min-height: 100%;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: 0.2rem;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #28a745;
  border-radius: 6px;
  border: 1px solid whitesmoke;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input,
select,
textarea {
  border: solid 2px #26be00;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

/************************************  Calendar  ***************************************************/
.p-datepicker.p-component {
  background-color: white;
  border: solid 1px #28a745;
  border-radius: 0.2rem;
  padding: 0;
}

/* Calendar with button*/
.p-calendar.p-calendar-w-btn {
  display: flex;
  flex-direction: row;
}

.p-calendar.p-calendar-w-btn input {
  border-radius: 0.4rem;
}

.p-calendar.p-calendar-w-btn .p-button.p-component.p-datepicker-trigger.p-calendar-button.p-button-icon-only {
  font-size: 2rem;
  right: 0;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/** header */
.p-datepicker.p-component .p-datepicker-header {
  background-color: #28a745;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.p-datepicker.p-component .p-datepicker-header button {
  font-size: 0.8rem;
}
.p-datepicker.p-component .p-datepicker-header button:first-child {
  padding-left: 0.2rem;
}
.p-datepicker.p-component .p-datepicker-header button:last-child {
  padding-right: 0.2rem;
}

.p-datepicker.p-component .p-datepicker-header button {
  background: none;
  top: 0;
  padding: 0;
  margin: 0;
}

.p-datepicker.p-component .p-datepicker-header button:hover {
  color: #c7c7c7;
}

.p-datepicker.p-component .p-datepicker-header .p-datepicker-title {
  background-color: #28a745;
  color: white;
}

.p-datepicker.p-component .p-datepicker-header .p-datepicker-year {
  background-color: #28a745;
  color: white;
}

.p-datepicker-calendar .p-highlight {
  text-align: center;
}

.p-datepicker-group td {
  cursor: pointer;
}

.p-datepicker-group .p-disabled {
  cursor: not-allowed;
}

.p-datepicker-next,
.p-datepicker-prev,
.p-timepicker button {
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #28a745;
  color: #fff;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.p-datepicker-prev {
  margin-right: 0.5rem;
}

.p-datepicker-title,
.p-datepicker-year {
  background-color: white;
  color: #28a745;
  font-size: 1.1rem;
}

.p-datepicker-month {
  margin-right: 0.5rem;
}

select.p-datepicker-month,
select.p-datepicker-year {
  border: solid 2px #28a745;
  background-color: white;
  color: #28a745;
  font-size: 1.1rem;
}

select.p-datepicker-month {
  margin-right: 0.1rem;
}

select.p-datepicker-month .select-selected:after {
  border: solid 2px white;
  background-color: #28a745;
  color: white;
}

select.p-datepicker-year .select-selected:after {
  border: solid 2px white;
  background-color: #28a745;
  color: white;
}

.p-calendar-button .p-button-text.p-c {
  display: none;
}

.p-calendar .p-highlight {
  background-color: #28a745;
  border: solid 2px #23923d;
  color: white;
  border-radius: 0.5rem;
}

.p-datepicker-buttonbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.p-datepicker-weeknumber .p-disabled {
  color: #28a745;
}

.p-timepicker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.p-timepicker div:first-child {
  margin: 0;
}

.p-timepicker div:last-child {
  margin: 0;
}

.p-monthpicker {
  width: 18rem;
  margin-top: 0.5rem;
}

.p-monthpicker-month {
  display: inline-block;
  width: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  border: solid 2px #28a745;
  color: #28a745;
}

.p-separator {
  font-size: 1.5rem;
}

.p-separator-spacer {
  display: none;
}

.p-clearfix {
  width: 100%;
}

.p-datepicker-other-month .p-disabled {
  color: white;
}

.p-disabled {
  color: #ee394b;
}

/************************************  Filter  ***************************************************/
.filter,
.filter-closed {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.filter .filter-item,
.filter-closed .filter-item {
  margin-bottom: 2rem;
}
.filter .filter-item .title,
.filter-closed .filter-item .title {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.filter .filter-item .title .title-line,
.filter-closed .filter-item .title .title-line {
  width: 100%;
  height: 1px;
  margin-left: 1rem;
  background-color: #28a745;
}
.filter .filter-item .search-input,
.filter-closed .filter-item .search-input {
  width: 100%;
  padding: 0.5rem 1rem;
}
.filter .filter-item .check-boxes,
.filter-closed .filter-item .check-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 10rem;
}
.filter .filter-item .check-boxes .checkbox-item,
.filter-closed .filter-item .check-boxes .checkbox-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3rem;
  /* Customize the label (the container) */
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-label,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-label {
  margin-left: -0.5rem;
  margin-top: 0.2rem;
  z-index: 1;
  font-size: 0.8rem;
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
  color: white;
  /* On mouse-over, add a grey background color */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container:hover input ~ .checkmark,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container input,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container input:checked ~ .checkmark,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container input:checked ~ .checkmark {
  background-color: #28a745;
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container input:checked ~ .checkmark:after,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid 2px #26be00;
  border-radius: 0.2rem;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark:after,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark:after,
.filter-closed .filter-item .check-boxes .checkbox-item .checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.filter .filter-item .calendars,
.filter-closed .filter-item .calendars {
  display: flex;
  flex-direction: row;
}
.filter .filter-item .calendars .separator,
.filter-closed .filter-item .calendars .separator {
  font-weight: bold;
  padding: 0 0.5rem;
}
.filter .filter-item .selected-tags,
.filter-closed .filter-item .selected-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter .filter-item .selected-tags .selected-tag,
.filter-closed .filter-item .selected-tags .selected-tag {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem 0.5rem;
  background-color: #28a745;
  color: white;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}
.filter .filter-item .selected-tags .selected-tag:last-child,
.filter-closed .filter-item .selected-tags .selected-tag:last-child {
  margin-right: 0;
}
.filter .filter-item .selected-tags .selected-tag:hover,
.filter-closed .filter-item .selected-tags .selected-tag:hover {
  cursor: pointer;
}
.filter .filter-item .tag-list,
.filter-closed .filter-item .tag-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.filter .filter-item .tag-list .tag,
.filter .filter-item .tag-list .tag-found,
.filter-closed .filter-item .tag-list .tag,
.filter-closed .filter-item .tag-list .tag-found {
  padding: 0.2rem 0.5rem;
  border: solid 1px #d6d6d6;
  border-radius: 0.2rem;
  margin-bottom: 1px;
  font-size: 0.8rem;
}
.filter .filter-item .tag-list .tag:hover,
.filter .filter-item .tag-list .tag-found:hover,
.filter-closed .filter-item .tag-list .tag:hover,
.filter-closed .filter-item .tag-list .tag-found:hover {
  cursor: pointer;
  border: solid 1px #28a745;
}
.filter .buttons,
.filter-closed .buttons {
  align-self: flex-end;
}
.filter .buttons .btn,
.filter-closed .buttons .btn {
  min-width: 7.5rem;
  max-width: 7.5rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.filter .buttons .btn:last-child,
.filter-closed .buttons .btn:last-child {
  margin-right: 0;
}

.search-container {
  transition: all 0.5s ease-in;
}
.search-container .under-const {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.search-container .under-const .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-container .under-const .content i {
  font-size: 2rem;
  padding: 1rem;
  border: solid 0.5rem #28a745;
  border-radius: 50%;
  color: #28a745;
  margin-bottom: 0.5rem;
}

.search-container-closed {
  min-height: 1px;
  max-height: 1px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

/************************************  Footer  ***************************************************/
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  opacity: 0.9;
  padding: 1rem 0;
  background-color: #28a745;
  color: white;
  text-align: center;
}
footer .logo-section {
  margin-top: 1rem;
}
footer .logo-section img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  object-fit: cover;
}
footer .logo-section span {
  font-weight: bold;
}
footer .bottom {
  margin-top: 0.5rem;
}
footer .bottom a {
  color: white;
  font-weight: bold;
}
footer .bottom a:hover {
  color: #dfdfdf;
  text-decoration: underline;
}

/************************************  Header  ***************************************************/
.header {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem 0.5rem 3rem;
  background-color: #28a745;
  color: whitesmoke;
  opacity: 0.9;
}
.header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .title img {
  max-width: 2rem;
  object-fit: cover;
}
.header .title h1 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.header .title h1:hover {
  cursor: pointer;
  color: #dfdfdf;
}
.header .options {
  font-weight: bold;
}
.header .options li:hover {
  cursor: pointer;
  color: #dfdfdf;
}

/************************************  Jumbo  ***************************************************/
.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.jumbo .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbo .content h1 {
  margin-top: 1rem;
  font-size: 2rem;
}
.jumbo .content i {
  font-size: 2rem;
  padding: 1rem;
  border: solid 0.5rem #28a745;
  border-radius: 50%;
  color: #28a745;
}
.jumbo .content .btn {
  margin-top: 1rem;
}

/************************************  Results  ***************************************************/
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.results .title-underline {
  width: 100%;
  height: 0.3rem;
  background-color: #28a745;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.results .sub-title-underline {
  width: 50%;
  height: 0.1rem;
  background-color: #28a745;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.results h1 {
  font-size: 1.5rem;
  font-weight: 100;
}
.results h2 {
  font-size: 1.2rem;
  font-weight: 100;
}
.results .industries .list,
.results .tags .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.results .industries .list .industry,
.results .tags .list .industry {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem 0.5rem;
  color: #28a745;
  border: solid 2px #28a745;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.results .industries .list .tag,
.results .tags .list .tag {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem 0.5rem;
  background-color: #28a745;
  color: white;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.results .dates .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.results .dates .content .center {
  padding: 0 0.5rem;
  font-weight: bold;
}
.results .dates .content .date {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem 0.5rem;
  color: #28a745;
  border: solid 2px #28a745;
  border-radius: 0.2rem;
  font-size: 1rem;
}

/************************************  Tabs  ***************************************************/
.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.tabs .tab,
.tabs .tab-highlight {
  width: 100%;
  color: white;
  border-right: solid 1px #23923d;
  padding: 1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.tabs .tab:last-child,
.tabs .tab-highlight:last-child {
  border-right: none;
}
.tabs .tab {
  background-color: #28a745;
}
.tabs .tab:hover {
  cursor: pointer;
}
.tabs .tab-highlight {
  background-color: #23923d;
}

/*# sourceMappingURL=index.css.map */
